@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --font-1: "Jost";
    --color-1: #9B0623;
    --color-2: #D9A0AF;
    --color-3: #575757;
    --color-4: #FFF1F4;
    --color-5: #FFFFFF;
}


/************************/
/*         FOOTER       */
/************************/
.footer .container-footer{  
    width: 100%;
    border-top: 1.5px solid silver ;
    background-color: var(--color-5);
}

.footer .nav-footer{
    max-width: 1300px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.footer .nav-footer .enlace{
    position: absolute;
    padding: 20px 0;
}
  
.footer .nav-footer .logo{
    margin-left: 70px;
    width: 50px;
    height: 60px;
}

.footer .nav-footer .nav-items{
    margin-left: 50px;
    margin-right: 110px;
    margin-bottom: 0;
}

.footer .nav-footer .nav-items li{
    display: inline-block;
    line-height: 90px;
    margin-right: 10px;
}

.footer .nav-footer .nav-items li a{
    margin-left: 15px;
    text-decoration: none;
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-3);
    position: relative;
    cursor: pointer;
}
  
.nav-footer .nav-items li a:after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--color-3);
    bottom: 0;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
}
  
.nav-footer .nav-items li a:hover:after{
    width: 100%;
    right: 0;
}



.footer .redes a{
    background-color: var(--color-1);
    margin-left: 20px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
}

.footer .redes .facebook-icon{
    padding-left: 8px;
    padding-right: 8px;
}

.facebook-icon:hover{
    background-color: #0A66F8;
    box-shadow: 0 0 15px #0A66F8,
                0 0 45px #0A66F8,
                0 0 75px #0A66F8,
                0 0 115px #0A66F8;
}

.footer .redes .twitter-icon{
    padding-left: 5px;
    padding-right: 5px;
}

.twitter-icon:hover{
    background-color: black;
    box-shadow: 0 0 15px black,
                0 0 45px black,
                0 0 75px black,
                0 0 115px black;
}

.footer .redes .git-icon{
    padding-left: 5px;
    padding-right: 5px;
}

.git-icon:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 15px var(--color-1),
                0 0 45px var(--color-1),
                0 0 75px var(--color-1),
                0 0 115px var(--color-1);
}

.footer .redes .linkedin-icon{
    padding-left: 7px;
    padding-right: 7px;
}

.linkedin-icon:hover{
    background-color: #01679a;
    box-shadow: 0 0 15px #01679a,
                0 0 45px #01679a,
                0 0 75px #01679a,
                0 0 115px #01679a;
}
